[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
install = "*"
django-filter = "*"
django-cors-headers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"
pillow = "*"
python-dotenv = "*"

[dev-packages]
djlint = "*"

[requires]
python_version = "3.11"
